<!--
	To run tests cd into this directory and just run:
		phpunit
	(it'll automatically use any phpunit.xml file in the current directory)

	Any options you specify when calling phpunit will override the ones in here
-->
<phpunit colors="true" backupGlobals="false">
	<testsuites>
		<testsuite name="Archive Tools Tests">
			<directory>./tests</directory>
			<exclude>./tests/fixtures</exclude>
		</testsuite>
	</testsuites>
</phpunit>
